* text=auto

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf

*.docx binary
*.png binary
