VITE_OIDC_AUTHORITY=http://172.31.50.2:18081/realms/platform
VITE_OIDC_CLIENT_ID=platform-api
VITE_OIDC_REDIRECT_URI=http://127.0.0.1:3000/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://127.0.0.1:3000/
VITE_PLATFORM_API_BASE_URL=/platform-api
VITE_DEVICE_ID=local-browser
VITE_PLATFORM_API_PROXY_TARGET=http://172.31.50.2:18080
VITE_OPENIM_API_URL=http://127.0.0.1:3000/openim-api
VITE_OPENIM_API_PROXY_TARGET=http://172.31.50.2:12002
VITE_OPENIM_WS_URL=ws://172.31.50.2:12001
