PLATFORM_LOCAL_POSTGRES_PASSWORD=replace-me
PLATFORM_LOCAL_KEYCLOAK_ADMIN_PASSWORD=replace-me
PLATFORM_LOCAL_KNOWLEDGE_MINIO_ACCESS_KEY=replace-me
PLATFORM_LOCAL_KNOWLEDGE_MINIO_SECRET_KEY=replace-me
PLATFORM_LOCAL_GRAFANA_ADMIN_PASSWORD=replace-me
PLATFORM_NODE2_PUBLIC_HOST=172.31.50.2
